@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background: #f0f8ff;
    color: black;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Start of Scrollbar */
body::-webkit-scrollbar {
    width: 0.2em;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
  }
  
  body::-webkit-scrollbar-track {
    background: transparent;
  }
/* End of Scrollbar */

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4rem;
    line-height: 1;
    font-family: 'League Spartan', sans-serif;
}

h2 {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 300;
    font-family: 'League Spartan', sans-serif;
}

p {
    font-size: 2rem;
    line-height: 1.5;
    font-weight: 400;
    font-family: 'League Spartan', sans-serif;
}

.description {
    font-size: 2rem;
    line-height: 1;
    font-weight: 300;
    font-family: 'League Spartan', sans-serif;
    text-align: justify;
}

.copyright-item {
    display: flex;
    flex-direction: column;
}
.copyright {
    font-size: 1rem;
    line-height: 1;
    font-family: 'League Spartan', sans-serif;
}
.hero-text {
    width: 500px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* Navbar */
nav {
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 1;
}
nav .nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 16px 108px 0 108px;
}

.logo {
    width: 40px;
    height: 40px;
}

.logo-text {
    width: 100px;
    height: 50px;
}

nav ul {
    gap: 30px;
}

.nav-item {
    font-size: 18px;
    font-weight: bolder;
    font-family: 'League Spartan', sans-serif;
}
.fb img {
    width: 40px;
    height: 40px;
}
.ig img {
    margin-top: 2px;
    width: 35px;
    height: 35px;
}

header.masthead {
    position: relative;
    padding-top: 10rem;
    padding-bottom: 5rem;
    text-align: left;
    color: #000000;
}
header.masthead > .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 108px;
}
.works-btn {
    display: inline-block;
    padding: 8px 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background: #FFA500;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}
.works-btn:hover {
    background: #000000;
    color: #ffffff;
    transform: scale(1.1);
}
.works-btn:active {
    transform: scale(1);
}
.works-icon path {
    fill: black;
    transition: all 0.3s ease-in-out;
}
.works-btn:hover .works-icon path {
    fill: #ffffff;
}

/* Work Section */
.works {
    width: 100%;
    margin: 0 auto;
    padding-top: 8rem;
    padding-bottom: 5rem;
    background: #f0f8ff;
    color: #000000;
}
.works h2 {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
.work-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 70px;
}
.work-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 40px;
    width: 80rem;
    height: 22rem;
}
.work-text {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    padding: 1rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    height: fit-content;
    height: 100%;
}
.work-text button, .work-text a {
    margin: auto 0 0 0;
    width: fit-content;
}
.work-img {
    width: 960px;
    height: 480px;
}
.work-item {
    background-color: white;
    border-radius: 10px;
    padding: 1rem 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}
.work-item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.work-item h3 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.work-item h4 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.work-item p {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
.item-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 20px;
}
.work-logo {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    object-fit: contain;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden; /* Prevents modal from overflowing the viewport */
    padding: 0;
}

.modal.open {
    display: block; /* Show modal */
}

.modal-content {
    background-color: white;
    margin: 48px auto;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    width: 80%;
    max-width: 900px;
    height: 90%; /* Ensure modal content is contained within the screen */
    overflow: auto; /* Makes the content inside modal scrollable */
    position: relative; /* Keeps close button positioned correctly */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Adds shadow for better visibility */
}
.modal-content::-webkit-scrollbar {
    width: 0.2em;
  }
  
  .modal-content::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 20px;
  }
  
  .modal-content::-webkit-scrollbar-track {
    background: white;
  }

.modal-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.modal-content p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.6;
}

.modal-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.modal-gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
}

/* .modal-gallery img:hover {
    transform: scale(1.05);
} */

.close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
}

/* Smooth open and close animation */
.modal {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.modal.open {
    opacity: 1;
    visibility: visible;
}

/* Recent Activities */
.activities {
  padding-top: 6rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.activities-container {
  display: flex;
  margin: 0 auto;
  padding: 16px 48px;
  width: 80rem;
  height: 32rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000000;
  gap: 2rem;
}

.activities-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
  width: 30%;
  height: 26rem;
}

.activities-text h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem 0;
}

.pagination-lines {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0;
}

.previous-icon {
    width: 20px;
}
.next-icon {
    width: 20px;
}

.pagination-lines span {
  display: inline-block;
  height: 10px;
  width: 30px;
  background-color: #FFA500;
  opacity: 0.5;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  
  /* Add heartbeat animation for non-active spans */
  animation: heartbeat 2s infinite;
}

.pagination-lines span.active {
  opacity: 1;
  width: 60px;
  animation: none; /* Disable animation for the active span */
}

.pagination-lines span:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

/* Define the heartbeat animation */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.activities-text p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: 'League Spartan', sans-serif;
  margin: 1rem 0;
  text-align: justify;
}

.view-case-button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  width: fit-content;
  background-color: #ff4d4f;
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.view-case-button:hover {
  background-color: #e63946;
}

.activities-showcase {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  height: 26rem;
  width: 100%;
}

.showcase-box {
  width: 100%;
  height: 300px;
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1) 10px,
    transparent 10px,
    transparent 20px
  );
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.showcase-image {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.showcase-image.active {
    display: block; /* Only display the active image */
}

/* Awards */
.awards {
    padding-top: 8rem;
    text-align: center;
}
.awards h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.awards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.award {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}
.award:hover {
    transform: scale(1.05);
}
.award h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}
.award p {
    font-size: 1rem;
    line-height: 1.6;
}

/* Footer */
footer {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background: aliceblue;
    color: #000000;
}
nav .nav-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin: 0 108px 16px 108px;
}
